Source: my-program
Section: misc
Priority: optional
Maintainer: Your Name <senyshyn.nazar@lll.kpi.ua>
Standards-Version: 4.1.1

Package: my-program
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: My Program
